/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin container {
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0 4.0rem;
}

.container {
  @include container;
}

.grid {
  @include border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -2.0rem;
}

[class*='col-'] {
  @include border-box;
  width: 100%;
  padding: 0 2.0rem;
}

@for $i from 1 through $columns {
  .col-xs-#{$i} {
    width: 100% / $columns * $i;
  }
}

@include breakpoint('small') {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}

@include breakpoint('medium') {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}

@include breakpoint('large') {
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      width: 100% / $columns * $i;
    }
  }
}
