$blue: tan;
$orange: orange;

html{
      background: $blue;
}

@media (max-width: 1200px) {
	html {
		background: $orange;
	}
}

.brain {
	color: red;
	display: flex;
}

@media (max-width: 1200px) {
	.brain {
		color: yellow;
	}
}
