<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  </head>
  <body>
  	<h1>Hello King ldjljfd rock</h1>
  	<% include partials/nav %>

  	<% images.forEach(function(image) { %>
  		<p>Source: <%= image.src %></p>
  	<% }); %>
  </body>
</html>